/*
 * General/Utility Styles
*/

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

body {
  margin: 0;
  background: rgb(245, 245, 245);
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 0.875rem;
  color: rgb(86, 90, 92);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  font-weight: bold;
  color: rgb(255, 89, 95);
  text-decoration: none;
}

strong {
  font-weight: 600;
}


/*
 * Button styles
*/

.button {
  background: rgb(255, 89, 95);
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.75rem 5rem;
  border-bottom: 1px solid rgb(227, 25, 29);
  border-radius: 2px;
  width: 95%;
  margin: 0 auto;
}

/*
 * Heading
*/

h1 {
  font-size: 22px;
  color: #666A6C;
}

/*
 * Header and .hero Styles
*/

header {
  background: #FFF;
}

header .logo {
  border-right: 1px solid #DCE0E0;
}

.hero img {
  width: 100%;
}

/*
 * Info
*/

.info {
  background: #fff;
  text-align: center;
  padding: 25px;
}

.info h1 {
  margin-bottom: 5px;
}

.info .profile {
  margin-bottom: 24px;
 }

.info .owner-details img {
  border-radius: 50%;
  margin-bottom: 6px;
}

.info h2.relationship, .info h2.name {
  color: #909597;
  margin-bottom: 3px;
}

.info h2.name {
  font-weight: bold;
}

.info p.location {
  margin-bottom: 20px;
 }

.info .icon {
  float: left;
  width: 33.33%;
}

.info .icon img {
  height: 30px;
  margin-bottom: 3px;
 }

.info .booking h2 {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 13px;
}

.info h2.price .time {
  font-size: 16px;
 }

/*
 * Main 
*/

.main {
  background: #F5F5F5;
  border-top: 1px solid #DCE0E0;
}

.sub-container { 
  width:90%;
  margin: 10px auto;
}


/*
 * About 
*/

.about {
  text-align: center;
  line-height: 22px;
  font-size: 13px;
  color: #565A5C;
  padding-top: 20px;
}

.about h2 {
  font-weight: bold;
  font-size: 16px;
  margin: 10px auto 20px auto;
}

.about p{
  text-align: left;
}

.about h4 {
  color: #FF595F;
  margin: 15px auto 30px auto;
  font-weight: bold;

}

/*
 * Care 
*/

.care {
  border-top: 1px solid #DCE0E0;
  padding: 20px 0;
  line-height: 18px;
  text-align: left;
}

.care header {
  padding-bottom: 13px;
  background: none;
}

/*
 * Games
*/

.games {
  text-align: left;
  border-top: 1px solid #DCE0E0;
  padding: 20px 0;
}

.games header {
  margin-bottom: 7px;
  background: none;
}

.games .icon {
  width: 100%;
}

.games .icon img {
  width:25px;
  float: left;
}

.games .icon p {
  margin-top: 10px;
  padding-left: 30px;
}

/*
 * Photos
*/
.photos {
  border-top: 1px solid #DCE0E0;
  padding-top: 20px;
}

.photos img {
  width:100%;
  margin: 15px 0;
}

/*
 * Footer
*/

.footer {
  border-top: 1px solid #DCE0E0;
  height: 25px;
  font-size: 13px;
  text-align: center;
}

.footer p {
  margin: 6px auto;
}



@media only screen and (min-width: 1060px) {


  .container {
  width: 1040px;
  margin: 0 auto;
  }
 
  .column {
  float: left;
  }
 
  .button {
  width: 275px;
  margin: auto;
  }

  /*
    * Info
  */
 
  .info h1 {
  margin-bottom: 11px;
  }
 
  .info h2 {
  margin-bottom: 3px;
  }
 
  .info .profile {
  width: 660px;
  border-right: 1px solid #DCE0E0;
  }
  
 
  .info .booking {
  width: 380px;
  }
 
  .info .owner-details {
  width: 20%;
  }
 
  .info .pet-details {
  width: 80%;
  text-align: left;
  }
 
  .info .pet-details .icon {
  width: inherit;
  margin-right: 50px;
  }
 
  .info .pet-details .icon img {
  display: block;
  margin: 3px auto 3px;
  }
  
  /*
  * Sub Container 
  */
  .sub-container {
    width: 655px;
    margin-left: 310px;
  }

  /*
  * About 
  */

  .about h2 {
    margin: 40px auto 40px auto;
  }

  .about h4 {
    text-align: left;
    margin: 36px auto 30px 0;
  }

  /*
  * Care 
  */
  
  .care {
    height: 130px;
    padding-top:28px;
  }

  .care header {
    width:170px;
    float: left;
  }

  .care .column1 { 
    width: 260px;
  }

  .care .column1 { 
    width: 225px;
  }

  /*
  * Games 
  */

  .games {
    height: 130px;
  }

  .games header {
    width: 170px;
    float: left;
  }

  .games .icons {
    width: 260px;
  }


  /*
  * Photos 
  */


  .photos img {
    width: 200px;
    height: 300px;
    margin: 28px 27px 80px 0px;
  }

  .photos .remove-margin img {
    margin-right: 0 ;
  }





 }

